body{
    margin: 0;
    padding: 0;
    background-color: #FFE9D4;
    }
/*header*/
/*j'ai supprimer l'entete et remplacer par id menu dans le header 
Ajouter une direction et justify a flexbox
Supprimer la hauteur fixe car je l'ajoute ailleur
Ajouter une marge externe*/
#menu{
    position: fixed;
    top:0px;
    width: 100%;
    padding:20px;
    background-color:#FED4AD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
    }
/*conteneur logo*/
/*Ajout d'une balise picture qui englobe ton image sur laquelle j'applique un margin auto
du coup je supprime la position et tous cela reste stable sur ta page 
peut importe le format*/
    #logo{
        margin: auto;
        }
    .logo
        {
        position: unset;
        width: 160px;
        opacity: 1;
        }
    /*h3*/
    /*Ajout d'un margin auto*/
    #title
        {
        margin:auto;
        min-width: 350px;
        font-weight: bold; 
        font-style: italic; 
        font-size: 26px; 
        color: #205abe; 
        }
/*main*/
/*div transformer en main avec du flex pour garder le responsive*/
#general
    {
    display: flex;
    flex-direction: column;
    }
    /*section slider*/
/*suppresion de la position 
Ajout de flex et d'un margin top*/
    .carousel-container
        {
        display: flex;
        flex-direction: column;
        margin-top:100px; 
        }
/*Ajout de flex et d'un Margin- bottom qui permet aux boutons
 de rester en place et de bouger en meme temps que le reste de la page 
 sans empiéter sur le slider*/
        .carousel-slide 
            { 
            display: flex;
            flex-direction: row;
            margin-bottom: 51%; 
            }
             img 
                {
                position: absolute;
                opacity: 0; 
                margin: auto; 
                width: 100%;
                }
        .active
            {
            opacity: 1; 
            }
/*Conteneur bouton*/
/*Avec encore du flex*/
.btn
    {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border: 2px solid #205abe;
    border-radius: 5px; 
    box-shadow: 1px 1px 2px inset;
    margin:auto; 
    }   
/*Boutons slider avant-arrière*/
/*Suppression de la position du transform
du display,left, top et Z-index */
    .prevBtn,.nextBtn
        {
        font-size: 18px;
        font-weight: bolder;
        color: #205abe;
        background-color: transparent;
        width:120px;
        height: 40px;
        border:none;    
        }

    /*Carte intéractive*/
    #maCarte 
        {
        height: 550px;
        }



